<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VCService3</key>
	<dict/>
	<key>VCService2</key>
	<dict>
		<key>uploadImageAliyun</key>
		<dict>
			<key>protocol</key>
			<string>localData</string>
			<key></key>
			<string></string>
		</dict>
		<key>AskName</key>
		<dict>
			<key>httpMethod</key>
			<string>get</string>
			<key>api</key>
			<string>/1442142801331138639111.mp4</string>
			<key>protocol</key>
			<string>http</string>
		</dict>
	</dict>
</dict>
</plist>
